/* Universal styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}

.debug { border: 1px solid red; }

a { text-decoration: none; }

li { list-style-type: none; }

.container {
  min-width: 250px;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a189a;
  font-family: 'Libre Franklin', sans-serif;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1rem; }

p {
  padding: 0.5rem;
  line-height: 1.5;
}

label { font-weight: 600; }

/* Page Header styling */
.header {
  border-bottom: 1px solid #9d4edd;
}

.logo-brand-left {
  color: #5a189a;
}

.logo-brand-right {
  color: #9d4edd;
}

/* Navigation styling */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
}

.nav-menu {
  display: none;
  left: -100%;
}

.nav-menu.active {
  display: flex;
  left: 0;
  position: fixed;
  flex-direction: column;
  width: 100%;
  top: 5rem;
  text-align: center;
  border-radius: 10px;
  border: 1px thin blue;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.3rem;
  color: #9d4edd;
}

.nav-link:hover {
  color: #240046;
}

.nav-logo {
  font-size: 2.5rem;
  font-weight: 500;
}

.hamburger {
  height: 2rem;
}

/* Main site styling */

.content, .footer  {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-top: 3rem;
}

.profile-pic {
  border-radius: 50%;
  height: 10rem;
  width: 10em;
  border: 2px solid #9d4edd;
}

section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #9d4edd;
  /* border-bottom: 1px solid lightgray; */
}

article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* Layout styling */

.item-align {
  align-items: center;
}

.row_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* About Section */

/* Skills Section  */
.skill-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width:7rem;
  height: 7rem;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.skill-image img {
  width: 4rem;
  height: 4rem;
}

/* project section */
.project {
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.5);
  margin: 0 0 1.4rem 0;
  padding: 0;
}

.project-info {
  padding: 1.5rem;
}

.project-img {
  border-radius: 2.5rem 2.5rem 0 0;
}

.project-skill-icon {
  height: 3rem;
  width: 3rem;
}

/* Font Awesome Styling */
.fa-linkedin,
.fa-github-square,
.fa-envelope-square {
  color: #9d4edd;

}

/* Tablet breakpoint */
@media only screen and (min-width: 600px){

  h1 { font-size: 4.2rem; }
  h2 { font-size: 3.3rem; }
  h3 { font-size: 2.75rem; }
  h4 { font-size: 2.5rem; }
  h5 { font-size: 2.25rem; }
  h6 { font-size: 2rem; }

  .content, .footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav-bar {
    align-items: baseline;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
  }

  .nav-item {
    margin: 0 0 0 5rem;
  }

  .hamburger {
    display: none;
  }

  /* project section */
  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project {
    width: 20rem;
  }

}
